{{#if hasBlock}}
  {{yield card}}
{{else}}
    <div class="panel-heading">
      {{card.name}}
      {{kb-delete-button click=(action 'deleteCard') pullRight=true}}
    </div>
    <div class="panel-body">
      <ul>
        <li>id: {{card.id}}</li>
        <li>column: {{card.parent.name}}</li>
        <li>order: {{card.order}}</li>
      </ul>

    </div>
{{/if}}
